<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <meta charset="UTF-8">
        <title>DOMIN TASK</title>
        <style>
            table,th,td {border: lpx solid black;}
        </style>
    </head>

    <style>
        /* Add some padding on document's body to prevent the content
        to go underneath the header and footer */
        body{
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .fixed-header, .fixed-footer{
            width: 100%;
            position: fixed;
            background: #333;
            padding: 10px 0;
            color: #fff;
        }
        .fixed-header{
            top: 0;
        }
        .fixed-footer{
            bottom: 0;
        }
        .container{
            width: 80%;
            margin: 0 auto; /* Center the DIV horizontally */
        }
        nav a{
            color: #fff;
            text-decoration: none;
            padding: 7px 25px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="fixed-header">
            <div class>
                <nav>
                    <a href="/"><span style="font-size: 40px;">DOMIN DashBoard</span></a>
                </nav>
            </div>
    </div>
    <div>
            <div class="col-lg-3" style="float: left;  max-height: 650px;max-width:400px; overflow-x:hidden;">
                <div style="background-color: rgb(41, 41, 40);">

                    <span style="color: rgb(255, 255, 255); text-align: center;"><h2>Top 10 countries list</h2></span>
                </div>
                <div>
                  <canvas id="myChart" style="height: 450px; width: 380px;"></canvas>
                </div>

            </div>
            <div class="col-lg-6" style="float: left;  max-height: 650px;max-width:100px; ">
                <br>
                <br>
                <div id="mapChart" style="height: 650px; width: 800px;"></div>
            </div>

            <div class="col-lg-3" style="float: centre;  max-height: 650px;max-width:800px; overflow-x:hidden;">
                 <div style="background-color: rgb(41, 41, 40);">

                    <span style="color: rgb(255, 255, 255); text-align: center;"><h2>List of Countries with China Borders</h2></span>
                </div>
                <div>
                    <table border="1" cellpadding="5" cellspacing="5">
                        <td> Name </td>
                        <td> Region </td>
                        <td> Area </td>
                        <td> Population </td>
                        <td> Flag </td>
                        {% for i in data%}
                        <tr>
                            <td>{{ i.name }} </td>
                            <td>{{ i.region }} </td>
                            <td>{{ i.area }} </td>
                            <td>{{i.population}} </td>
                            <td>{{i.flag}} </td>
                        </tr>
                        {% endfor %}

                    </table>


                </div>
            </div>
    </div>

</body>

<script>

    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'horizontalBar',

        // The data for our dataset
        data: {
            labels: {{ contryNames|safe }},
            datasets: [{
                axis: 'y',
                data: {{ bordrsLen|safe }},
                label: 'Border Length',
                barThickness:'flex',
                fill: false,
                backgroundColor:'#03a9fc',

            }]
        },
         // Configuration options go here
        options: {
            indexAxis: 'y',
          }
});
</script>

<!--<script>-->
<!--    data2 ={{dataForMapGraph|safe}};-->
<!--    Highcharts.getJSON('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/world-population-density.json', function (data) {-->

<!--    // Prevent logarithmic errors in color calulcation-->
<!--    data.forEach(function (p) {-->
<!--        p.value = (p.value < 1 ? 1 : p.value);-->
<!--    });-->

<!--    // Initiate the chart-->
<!--    Highcharts.mapChart('mapChart', {-->

<!--        chart: {-->
<!--            map: 'custom/world'-->
<!--        },-->

<!--        title: {-->
<!--            text: 'World Map for reference'-->
<!--        },-->

<!--        legend: {-->
<!--            title: {-->
<!--                text: 'Population density per km²',-->
<!--                style: {-->
<!--                    color: ( // theme-->
<!--                        Highcharts.defaultOptions &&-->
<!--                        Highcharts.defaultOptions.legend &&-->
<!--                        Highcharts.defaultOptions.legend.title &&-->
<!--                        Highcharts.defaultOptions.legend.title.style &&-->
<!--                        Highcharts.defaultOptions.legend.title.style.color-->
<!--                    ) || 'black'-->
<!--                }-->
<!--            }-->
<!--        },-->

<!--        mapNavigation: {-->
<!--            enabled: true,-->
<!--            buttonOptions: {-->
<!--                verticalAlign: 'bottom'-->
<!--            }-->
<!--        },-->

<!--        tooltip: {-->
<!--            backgroundColor: 'none',-->
<!--            borderWidth: 0,-->
<!--            shadow: false,-->
<!--            useHTML: true,-->
<!--            padding: 0,-->
<!--            pointFormat: '<span class="f32"><span class="flag {point.properties.hc-key}">' +-->
<!--                '</span></span> {point.name}<br>' +-->
<!--                '<span style="font-size:30px">{point.value}/km²</span>',-->
<!--            positioner: function () {-->
<!--                return { x: 0, y: 250 };-->
<!--            }-->
<!--        },-->

<!--        colorAxis: {-->
<!--            min: 1,-->
<!--            max: 1000,-->
<!--            type: 'logarithmic'-->
<!--        },-->

<!--        series: [{-->
<!--            data: data2,-->
<!--            joinBy: ['iso-a3', 'code3'],-->
<!--            name: 'Population density',-->
<!--            states: {-->
<!--                hover: {-->
<!--                    color: '#a4edba'-->
<!--                }-->
<!--            }-->
<!--        }]-->
<!--    });-->
<!--});-->

<!--</script>-->


<!--<script>-->

<!--    data2={{dataForMapGraph|safe}};-->

<!--    // Initiate the chart-->
<!--    Highcharts.mapChart('mapChart', {-->

<!--        chart: {-->
<!--            map: 'custom/world'-->
<!--        },-->

<!--        title: {-->
<!--            text: 'World Map'-->
<!--        },-->


<!--        mapNavigation: {-->
<!--            enabled: true,-->
<!--            buttonOptions: {-->
<!--                verticalAlign: 'bottom'-->
<!--            }-->
<!--        },-->

<!--        colorAxis: {-->
<!--                min: 1,-->
<!--                max: 1000,-->
<!--                type: 'logarithmic'-->
<!--            },-->

<!--&lt;!&ndash;        series: [{&ndash;&gt;-->
<!--&lt;!&ndash;            data: data2,&ndash;&gt;-->
<!--&lt;!&ndash;            joinBy: ['iso-a3', 'code3'],&ndash;&gt;-->
<!--&lt;!&ndash;            name: 'Infected Counts',&ndash;&gt;-->
<!--&lt;!&ndash;            states: {&ndash;&gt;-->
<!--&lt;!&ndash;                hover: {&ndash;&gt;-->
<!--&lt;!&ndash;                    color: '#a4edba'&ndash;&gt;-->
<!--&lt;!&ndash;                }&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;        }]&ndash;&gt;-->
<!--    });-->
<!--    });-->

<!--</script>-->


</html>